// Colors

$color-primary-dark: #28b485;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-grey: #888;
$color-grey-light: #998;
$grey-text-color: #777;
$color-white: #fff;
$color-black: #000;
$color-background: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Fonts
$default-font-size: 1.6rem;

// Margiin
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-big: 8rem;

$margin-top-small: 3rem;
$margin-top-medium: 4.8rem;
$margin-top-big: 12.4rem;

// Grid Spacing
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;
