.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $grey-text-color;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
  }

  &--animated {
    animation: buttonMoveUp 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  border-bottom: 1px solid $color-primary;

  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    color: $color-primary;
    border-bottom: 1 solid $color-primary;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 1.2rem;
    transform: translateY(5px);
    box-shadow: 0 0.5rem 1.5rem rgba(#000, 0.2);
  }
}
