.u-centre-text {
  text-align: center;
}

.u-margin-small {
  margin-bottom: $margin-bottom-medium;
}

.u-margin-top-small {
  margin-bottom: $margin-top-medium;
}

.u-margin-top {
  margin-top: $margin-top-big;
}

.top-text {
  z-index: 20;
}
